{% extends "accounts/base_admin_panel.html" %}
{% load static %}

{% block admin_content %}
<div class="container text-center my-5">
<h4>Заказ №{{order.id}}</h4>
</div>

<div class="container">
	<div class="position-relative m-4">
		<div class="container">
			<div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 5px;">
			<div class="progress-bar" style="width: 100%"></div>
		</div>
		<select id="status_select" onchange="change_order_status()" class="text-decoration-none position-absolute top-0 translate-middle btn btn-sm btn-primary rounded-pill form-select form-select-lg mb-3" style="width: 10rem; height:2rem;" aria-label=".form-select-lg пример">
			<option selected>{{order_status}}</option>
			{% for status in statuses %}
				<option value="{{status.id}}">{{status.text}}</option>
			{% endfor %}
		</select>
	</div>
		</div>
</div>

<div class="container-fluid text-start px-4 mt-5">
	<h3>Заказчик: <span class="badge rounded-pill text-bg-success pe-4">
		<img src='/media/{{ order.user.avatar }}' class="rounded-circle mr-1 me-2" alt="Chris Wood" width="40" height="40">
		{{ order.user.username }}
	</span></h3>
	<input id="order_id_input" type="number" value="{{order.id}}" hidden>
</div>

<div class="container-fluid row m-0 p-0 mt-3 mb-5">
	<div class="col-6 mt-5 px-4" style="height: 100%;">
		<div class="card w-100">
			<h5 class="card-header">Сведения о заказе</h5>
			<div class="card-body text-start">
				<h5 class="card-title">{{order.title}}</h5>
				<p class="card-text"><strong>Описание:</strong><br>{{order.description}}</p>
				{% if order.tz_file %}
					{% if order_file_type == "docx" %}
						<a href="{{order.tz_file.url}}" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-word-fill" viewBox="0 0 16 16">
								<path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.485 6.879l1.036 4.144.997-3.655a.5.5 0 0 1 .964 0l.997 3.655 1.036-4.144a.5.5 0 0 1 .97.242l-1.5 6a.5.5 0 0 1-.967.01L8 9.402l-1.018 3.73a.5.5 0 0 1-.967-.01l-1.5-6a.5.5 0 1 1 .97-.242z"/>
							</svg>
						</a>
					{% else %}
						<a href="{{order.tz_file.url}}" target="_blank">
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
								<path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
								<path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
							</svg>
						</a>
					{% endif %}
				{% endif %}

				<ol class="list-group w-75 mt-3">
					{% if order.need_server_setup %}
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Требуется установка/настройка сервера</div>
						</div>
						<span title="Следует обратить внимание!" class="badge text-dark bg-warning rounded-pill">!</span>
					</li>
					{% endif %}
					{% if order.need_bot_setup %}
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">Требуется установка бота на сервер</div>
						</div>
						<span title="Следует обратить внимание!" class="badge text-dark bg-warning rounded-pill">!</span>
					</li>
					{% endif %}
				</ol>

			</div>
			<div class="card-footer">
				Заявка подана: {{order.created_at}}
			</div>
		</div>
	</div>
	<div class="col-6 mt-5 px-4">

		<div class="card text-center mb-3">
			<div class="row p-0 m-0">
				<div class="card-header">
					<h5 class="text-center m-0 p-0">Связь с клиентом</h5>
				</div>
			</div>
			<div class="row p-0 m-0 overflow-auto" style="max-height: 400px;">
				<div class="card-body h-100">
					<div id="messages_box" class="container m-0 p-0 text-start overflow-auto">

						{% if messages_count == 0 %}
							<h5 class="text-center">Чат пуст</h5>
						{% else %}
							{% for message in messages %}
								<div class="mb-4">
									<div>
										<img src='/media/{{ message.user.avatar }}' class="rounded-circle mr-1 me-2" alt="Chris Wood" width="40" height="40">
										<span>{{message.user.username}}</span>
									</div>
									<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3 mt-2">
										{{message.text}}
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row p-0 m-0">
				<div class="card-footer">
					<div class="input-group">
						<input type="text" id="manager_input" class="form-control" placeholder="Ответить пользователю" aria-label="Input group example" aria-describedby="basic-addon1">
						<button type="button" onclick="send_manager_message()" class="input-group-text btn text-bg-success" id="send_message_button">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
								<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"></path>
							</svg>
						</button>
					</div>
					{% csrf_token %}
				</div>
			</div>
		</div>

		<div class="card">
			<div id="link_form" class="input-group">
				{% if order.answer_link %}
					<div id="empty_link_div" class="form-control">
						<a target="_blank" class="text-decoration-none" href="{{order.answer_link}}">{{order.answer_link}}</a>
					</div>
				{% else %}
					<div id="empty_link_div" class="form-control">Ссылка на github репозиторий</div>
				{% endif %}
				<button id="edit_github_link" onclick="edit_github_link_func()" class="btn btn-primary">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
						<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
					</svg>
				</button>
			</div>
		</div>

		<div id="linkError" class="text-danger" style="display: none;">
			<strong>
				Неправильная ссылка!
			</strong>
		</div>

	</div>
</div>


<div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div id="header_div" class="toast-header text-bg-danger">
			<strong id="toast_header" class="me-auto">Ошибка отправки сообщения!</strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
		</div>
		<div id="payment_success_text" class="toast-body"></div>
	</div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
	<div id="liveToast2" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div id="header_div2" class="toast-header text-bg-success">
			<strong id="status_change_title" class="me-auto"></strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
		</div>
		<div id="status_change_text" class="toast-body"></div>
	</div>
</div>


<script src='{% static "js/admin_menu.js" %}'></script>
<script src='{% static "js/manager_order_page.js" %}'></script>
<script>
	set_orders_admin_menu()
</script>
{% endblock %}
