{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
	<div class="container-fluid vh-100">
		<div class="row vh-100">
			<div class="col-2 m-0 p-0">
				<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-light h-100">
					<h3 class="fs-4">Меню</h3>
					<hr>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item">
							<a id="main_admin_menu" href="/account/admin" class="nav-link">Панель администратора</a>
						</li>
						<li class="nav-item">
							<a id="bonuses_admin_menu" href="/account/admin/bonuses" class="nav-link">Бонусы</a>
						</li>
						<li class="nav-item">
							<a id="orders_admin_menu" href="/account/admin/orders" class="nav-link">Работа над заказами</a>
						</li>
						<li class="nav-item">
							<a id="bonus_history_admin_menu" href="/account/admin/bonus_history" class="nav-link">История пополнений</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-10 m-0 p-0">
				<div class="container-fluid text-center m-0 p-0 my-5">
					{% block admin_content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
